@charset "UTF-8" ;

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(-300deg , blueviolet, rgb(74, 24, 121));
    background-repeat: repeat;
}

#logo{
    display:flex;
    justify-content: center;
   
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    
    padding: 3px;
    border-top: 3px ridge rgb(74, 24, 121) ;
    border-left: 3px ridge rgb(74, 24, 121);
    border-right: 3px ridge rgb(74, 24, 121);
    border-radius: 5px;   
}